body {
	overflow-x: hidden;
	background-color: #EAD894;
	color:#733A12;
}
#serval-test{
	border: 3px solid #733A12;
	border-radius: 5px;
	width: 350px;
}
ul{
	list-style: none;
}


a,a:visited {
    color:#733A12;
}
a:hover {
    color: #aa0303;
}
#banner{
  width: 300px;
  height: 100px;
  border: 1px solid #733A12;
}
div.boardlist:not(.bottom){
  
    top: 0;
    left: 0;
    right: 0;
    margin-top: 0;
    border-bottom: 1px solid;
    margin-bottom: 16px;
}
.form-post{
  text-align: center;
}
.global{
  padding: 5px;
}
table {
    border-spacing: 1px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: separate;
}
table.form-post>tbody>tr>td:first-child {
    background-color: hsl(38, 73%, 59%);
    border: 2px solid #733A12;
}
table.form-post>tbody>tr>td>input,textarea{
  border:1px solid grey;
}
td.thicc{ 
 font-weight:bold;
padding:5px;
}
.verde{
  border:1px solid black;
  width: 1000px;
  height: 1000px;
  margin-left: 40px;
  margin-right: -40px;
}
#chat{
	 background-color:hsl(38, 73%, 59%);
  	height:100%;
  	border:2px solid #733A12;
  	text-align:center;
    padding: 5px;
    margin: 10px;
}
#newId{
      background-color:#EAD894;
      height:100%;
      border: 1px solid #733A12;
      text-align:center;
  		margin: 10px;
      padding:5px;
 	}
 	#nombre{
		font-size: 1em;
		font-weight: bold;
 }
@media only screen and (max-width: 750px){
      .boton-top-bottom{
        text-align: center;
      }
 }